.home {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}

.home h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
}

.home h2 {
    text-transform: none;
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}